<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>

  <li><%= link_to 'Facebook', '/auth/facebook' %></li>
   
  <!-- super messy check to see if FB authentication with sessions works :o -->
  <% if session[:user_id] %>
    <%= User.find(session[:user_id]).name %>
    <img src=<%= profile_pic = User.find(session[:user_id]).photo_url %>>
  <% end %>

  <%= yield %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>

<!-- Added this for flash notices from Devise tutorial: -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</html>

